.img-acesso-rapido{
    width: 200px !important;
}
a {
    text-decoration: none!important;
}
.item-menu-home{
    margin: 20px 0;
}
.item-menu-home:hover{
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,1);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,1);
}

.img-operador-caixa-venda{
    width: 70px;
    height: 70px;
}

.border-blue-900{
    border: 1px solid #001633;
}